.NavigationSearchItem {
    width: 100%;
}

.NavigationSearchForm {
    margin: 0 auto;
    display: flex;
    height: 80%;
    width: 80%;
    align-items: center;
}

.NavigationSearchForm input {
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    margin: 0 auto;
    border: none;
    color: #2670AF;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 2px solid transparent;
    outline: none;
    font-size: 110%;
    text-align: center;
}

.NavigationSearchForm input:hover,
.NavigationSearchForm input:active,
.NavigationSearchForm input:focus {
    background-color: transparent;
    border-bottom: 2px solid #2670AF;
}

.NavigationSearchForm input::placeholder {
    color: #2670AF;
    font-family: 'Raleway', sans-serif;
}

.NavigationSearchForm input:focus::placeholder {
    color: transparent;
}

@media (min-width: 500px) {
    .NavigationSearchItem {
        margin-left: 0;
        display: flex;
        height: 80%;
        width: auto;
        align-items: center;
        justify-content: flex-end;
    }
    .NavigationSearchForm {
        margin: 0;
        width: 50%;

    }
    .NavigationSearchForm input:hover,
    .NavigationSearchForm input:active,
    .NavigationSearchForm input:focus {
    background-color: transparent;
    border-bottom: 2px solid white;
    color: white;
    text-align: start;
    }
    .NavigationSearchForm input::placeholder {
        color: white;
    }
}