.SideDrawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 275px;
    background-color: #2670AF;
    color: white;
    z-index: 200;
    background-color: white;
    padding: 16px 0;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out
}

.Open{
    transform: translateX(0)
}

.Closed {
    transform: translateX(-100%)
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.Logo {
    padding-bottom: 16px;
    color: #2670AF;
    font-size: 250%;
}