.NavigationItems {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.Closed {
    display: none;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}